img {
    width: 165px;
}

a {
    color:inherit;
}

.carousel .carousel-item {
    width:400px !important;
    height: fit-content !important;
}

.tinyimage {
    width: 80px;
}

.sticky-nav{
    position: sticky;
    top: 0;
}

.center{
    align-content: center;
    text-align: left;
}

.mageragauche {
    margin-left: 150px;
    font-size: 30px !important;
}

.noboxshadow {
    box-shadow: none!important;
}

.collapsible {
  
    box-shadow: none !important;
}
.collapsible-header {
    border: none !important;
}

.no-margin {
    margin-top: 0px;
    margin-bottom: 0px;
}

.no-padding {
    padding-right: 0px;
}

.row .col.item-card-left{
    padding-left:2.5px!important;
}

.row .col.item-card-middle{
    padding-right:2.5px!important;
    padding-left:2.5px!important;
}

.row .col.item-card-right{
    padding-right:2.5px!important;
}

.little-padding {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.little-margin-bottom {
    margin-bottom: 10px;
}

.linkcolor {
    color: cornflowerblue;
}

body {
    background-color: #2c393f;
    font-family: 'Inconsolata', monospace;
}

#nav {
    z-index: 9999;
}

#mainpart {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #C0C0C0;
}

#incard {
    margin-top: 0px;
    margin-bottom: 0px;
}

#mywork {
    text-align: center;
    color: #C0C0C0;
    background-color: #1e282d ;
    padding-top: 50px;
    padding-bottom: 50px;
}

#project {
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 0px;
    text-align: center;
    color: white;
}

#contact {
    text-align: center;
    color: #C0C0C0;
    background-color: #000000;
    padding-top: 5px;
    padding-bottom: 20px;
}

#title {
    font-size: 60px;
    text-align: center;
    color: #C0C0C0;
    background-color: #000000;
    padding-top: 240px;
    padding-bottom: 270px;
}

